@mixin palette {
  --color-black: #000;
  --color-grey-950: #181821;
  --color-grey-800: #292938;
  --color-grey-700: #444664;
  --color-grey-600: #545778;
  --color-grey-500: #696d91;
  --color-grey-400: #8b8dac;
  --color-grey-300: #b4b6cb;
  --color-grey-200: #d8d9e3;
  --color-grey-100: #f0f0f5;
  --color-grey-50: #f0f1ff;
  --color-white: #fff;
  --color-indigo-600: #003399;
  --color-indigo-400: #3355aa;
  --color-indigo-300: #5577bb;
  --color-indigo-200: #99aad4;
  --color-indigo-100: #ccd5ea;
  --color-indigo-50: #e6eaf5;
  --color-red-500: #ff637e;
  --color-red-600: #ec003f;
  --color-yellow-400: #ffcc00;
  --color-yellow-600: #e17100;
  --color-yellow-700: #bb4d00;
  --color-green-400: #05df72;
  --color-green-600: #00a63e;
}
